<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav"> -->
        <!-- LINK MENUJU table, dan link menuju home#form -->

        <div class="panel-footer">
          <a href="{% url 'lab-10:index' %}" class="btn btn-default">Home</a>
          <a href="{% url 'lab-10:movie_list' %}" class="btn btn-default"> Daftar Movie </a>
          <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-default"> Daftar Watch Later </a>
          <a href="{% url 'lab-10:list_watched' %}" class="btn btn-default"> Daftar Watched Movies </a>
          <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
              Logout </a>
          <!-- </ul> -->
        </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
