<style type="text/css">
.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #375794;
    /*color: #ffffff;*/
}
</style>


<div class="footer"> <!--style="text-align: center; position: absolute;" >-->
    <strong><span style="color: white">&#10024; Made with <span>&#x1F496;</span> by <span style="color: #b5d13c">Billa &#10024;</span></strong>
    </span>
</div>
