<!-- templates/lab_7/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #375794;">
  <div class="container">
    <div class="navbar-header">
      <img src="https://pbs.twimg.com/media/DPMlvxpUEAAGr6P.jpg:large", width="150rem;">
      <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_New_Logo_%282015%29.svg/1200px-Facebook_New_Logo_%282015%29.svg.png", width="150rem;">-->
    </div>
  </div>
</nav>
